<div class="container">

  <div class="col-md-6">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic similique inventore earum consequuntur veniam iusto voluptatum, magnam tenetur quo. Doloribus porro molestias id assumenda consequatur vel eum, dignissimos natus corporis!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quam nesciunt odio, nostrum excepturi autem repudiandae placeat itaque eveniet, unde minima nihil facilis magni, doloribus esse ipsum eius repellendus maiores!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic similique inventore earum consequuntur veniam iusto voluptatum, magnam tenetur quo. Doloribus porro molestias id assumenda consequatur vel eum, dignissimos natus corporis!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quam nesciunt odio, nostrum excepturi autem repudiandae placeat itaque eveniet, unde minima nihil facilis magni, doloribus esse ipsum eius repellendus maiores!
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic similique inventore earum consequuntur veniam iusto voluptatum, magnam tenetur quo. Doloribus porro molestias id assumenda consequatur vel eum, dignissimos natus corporis!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quam nesciunt odio, nostrum excepturi autem repudiandae placeat itaque eveniet, unde minima nihil facilis magni, doloribus esse ipsum eius repellendus maiores!
    </p>
  </div>
<div class="image col-md-6"></div>
