<div class="container">
  <h1 class="tagline">We are branding and packaging conossieurs.</h1>
  <div class="home-images home-img-1"></div>


<div class="row home-row-1">


      <div class="home-images home-img-2 col-md-6 col-xs-12"></div>

      <div class="home-images home-img-3 col-md-6 col-xs-12"></div>
</div>

      <div class="home-images home-img-1 col-xs-12"></div>


  <div class="row home-row-1">


      <div class="home-images home-img-2 col-md-6 col-xs-12"></div>

      <div class="home-images home-img-3 col-md-6 col-xs-12"></div>
  </div>

</div>
