<nav class="navbar">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <button type="button" id="nav-icon" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="menu-toggle">
            <li>More</li>
            <li>Soup</li>
            <li>Site</li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores dignissimos nobis reiciendis? A accusamus ad aspernatur atque beatae corporis debitis dolores est impedit, inventore necessitatibus ratione ut, vitae.</p>
        </div>
    </div>
</div>
